userService/node_modules/*
userService/node_modules
userInteraction/node_modules/*
userInteraction/node_modules
contentService/node_modules/*
contentService/node_modules
common/node_modules/*
common/node_modules
api-gateway/node_modules/*
api-gateway/node_modules